.registration {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 46vh auto 0;
  transform: translateY(-50%);
  border-radius: 0.4rem;
  box-shadow: 0 0 12px #dedede;
  background-color: white;
  padding: 2rem;
}

.registration form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.registration form * {
  width: 100%;
}

.errorMsg {
  color: #ff3636;
}

.regLabel {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.regLabel span:last-child {
  text-align: right;
  white-space: nowrap;
}
