.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px #dedede;
  background-color: white;
  padding: 0.6rem;
}

@media screen and (max-width: 890px) {
  .container {
    width: 100%;
    box-shadow: none;
    border-radius: none;
  }
}

.main tr:last-child {
  border-bottom: 2px solid #dedede;
}

.main th:last-child {
  width: 200px;
  text-align: right;
}

.main td:last-child {
  text-align: right;
}

.newEntryRow {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.emptyRow {
  height: 54px;
}

.sortBtn {
  cursor: pointer;
}

.sortBtn:hover {
  color: #414141;
}

.main [value='Delete'] {
  margin-right: 1rem;
}
